* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    font:1.5rem sans-serif;
    min-height:100vh;
    background:radial-gradient(whitesmoke,slategray);
    display:flex;
    flex-direction:column;
}

header,nav,main,footer {
    display:grid;
    place-content:center;
    grid-template-columns:100%;
    text-align:center;

}

header,footer {
    position:sticky;
    background-color:navy;
    color:bisque;
}

nav {
    background-color:antiquewhite;
    color:#000;
    padding:1rem;
    border:1px solid #000;

}

header {
    top:0;
}

main {
    flex-grow:1;
}

footer {
    bottom:0;
}

@media screen and (min-width:481px) {
    body{
        background:radial-gradient(whitesmoke,#0f0);
    }
}

@media only screen and (min-width:768px) {
    body {
        background:radial-gradient(whitesmoke,#f00);
    }
}

@media (min-width:1024px) {
    body {
        background:radial-gradient(whitesmoke,#00f);
    }
}

@media screen and (min-width:1200px) {
    body main {
        background:radial-gradient(whitesmoke,purple);
        color:orange;
    }
}

@media all and (orientation:landscape) {
    body nav {
        background-color:tomato;
        color:#00f;
    }
}

@media screen and (orientation:portrait) {
    body nav {
        display:none;
    }
}

@media screen and (max-height:460px) and (min-aspect-ratio:7/4) {
    body {
        background:radial-gradient(skyblue,yellow) 
    }
    h1,h2 {
        font-size: 1rem;
        text-decoration:underline;
    }
    nav {
        display:none;
    }

}
